 <!-- <div class="Siltek-sheet clearfix"> -->

 

<div id="slider" class="nivoSlider">
            
                <!--  Images to slide through.  -->
                <img src="/assets/tech4.jpeg" data-thumb="/assets/tech4.jpeg" alt="" />
                <a href="http://dev7studios.com"><img src="/assets/tech3.jpeg" data-thumb="/assets/tech3.jpeg" alt="" title="This is an example of a caption" /></a>
                <img src="/assets/tech2.jpeg" data-thumb="/assets/tech2.jpeg" alt="" data-transition="slideInLeft" />
                <img src="/assets/tech1.jpeg" data-thumb="/assets/tech1.jpeg" alt="" title="#htmlcaption" />
            </div>
            
            <!--  Captions to show for images  -->
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
            </div>
<div class="contents-layout">
  <div class="Siltek-content-layout">



<!-- <div class="home"> -->
        <p></p><p style="text-align: justify;font-weight:bold;">Welcome To Siltek Software Solutions<br></p><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek Software Solutions Pvt. Ltd., is one of the
                                                 leading Software &amp; Web Development, IT Consulting and Training company with
                                                 extensive experience in designing and development of cutting edge software
                                                 solutions. We are a group of highly motivated IT professionals with a
                                                 capability to innovate and a strong desire to excel.</span></p>
                                                 
                                                <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">With our development office in INDIA and Offices in
                                                 USA, Siltek is a customer-centric company working to provide solutions that are
                                                 Reliable, On-time and Flexible. The solutions designed are purely based on
                                                 business and technical requirements of the project in hand. Software
                                                 Development Life Cycle is strictly followed to ensure the timely delivery of
                                                 the project without compromising on quality.</span>&nbsp;</p>
                                                 
                                                <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek provides a broad range of offshore
                                                 outsourcing services including Application and Systems Level Programming on
                                                 Leading Technologies.</span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek
                                                 has a niche in providing training to</span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Engineering
                                                 (B.Tech/M.Tech), MBA/MCA</span></b> <span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><b><span style="font-size: 13px;">students</span></b></span><b> </b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">and <b><span style="font-size: 13px;">Freshers</span></b> who are<b> </b>looking for a
                                                 breakthrough</span><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">. Thousands of Engineering students have successfully completed their
                                                 Mini and Major projects. The focus of the Training is to facilitate students
                                                 with Live Projects on latest technologies like</span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Mobile</span></b> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Applications Development (Android, iOS), Cloud
                                                 Computing</span></b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">, <b><span style="font-size: 13px;">MS .NET and Java etc.,</span></b></span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">under the strict guidance
                                                 of Industry Experts.</span></b></p><span style="-webkit-border-horizontal-spacing: 2px; -webkit-border-vertical-spacing: 2px;"><table class="Siltek-article" style="margin-left: auto; "><tbody><tr><td style="text-align: right; width: 215px; "><span style=" "><span style="line-height: 18.890625px;  "><span style=" font-family: Verdana; text-align: justify;  "><span style=" font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; "><span style="text-align: justify;  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; "><span style=" text-align: left; "><span style="line-height: 18.890625px;  "><span style=" font-family: Verdana; text-align: justify; font-size: 11px; "><span style=" font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; font-size: 13px; "><span style="text-align: justify;  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; "><span style=" font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;  "><a href="../aboutus/overview" style="color: #ffffff  ">more</a></span>...</span></span></span></span></span></span></span></span></span></span></td></tr></tbody></table></span>
                                                <p>
                                                </p><p>
                            </p>
    
</div>

</div>

<table class="news">
    <tbody>
    <tr><td style="height:10px;"></td></tr>
    <tr><td class="footertop">
        <div>
            <div class="fltleft"><img src="http://www.quadone.com/images/fottop_left.gif" alt="" /></div>
            <div class="fltright"><img src="http://www.quadone.com/images/fottop_right.gif" alt="" /></div>
            <div class="quadnews">
                <div><h2>News and Events</h2></div>
                <ul>
                                    <li>
                        <span>Saturday, November 23, 2013</span><br />
                        <a href="http://www.quadone.com/News_Details.html/id/25">Dr. Reddy's launches IBCR.in in association with Quad One</a><br />
                        <!-- Dr. Reddy&rsquo;s launched the Indian Breast Cancer Resource (IBCR.in) at the Indian Cancer Congress 2013 at New Delhi. IBCR has been developed along with Quad One and Navya Inc.-->
                    </li>
                                    <li>
                        <span>Thursday, December 20, 2012</span><br />
                        <a href="http://www.quadone.com/News_Details.html/id/23">Quad One Magento team gets 'Magento Certified Developer' and 'Magento Certified Developer Plus' certified!</a><br />
                        <!-- <div class="magentonews"><img src="http://www.quadone.com/images/magento_certification.jpg" style="float:right; padding:0px 0px 10px 20px;" alt="Certified Developer Plus, Certified Developer" />
<p>Quad One Magento team gets &lsquo;<a href="http://www.magentocommerce.com/certification/" target="_blank">Magento Certified Developer</a>&rsquo; and &lsquo;<a href="http://www.magentocommerce.com/certification/" target="_blank">Magento Certified Developer Plus</a>&rsquo; certified!</p><p><a href="http://www.magentocommerce.com/certification/" target="_blank">Magento Developer Certification</a> is a mid-advanced level certification geared toward professional developers that have real-world experience with Magento implementations.</p><p>A <strong>Magento Certified Developer</strong> can skillfully use all business processes in Magento, such as:</p><ul><li>Structure of catalog, indexes, promotions, price generation logic</li><li>Architecture of checkout, payment/shipment methods, sales/order processing</li><li>Advanced core knowledge &ndash; forms/grids full functionality, API, widgets, etc.</li></ul><p>A Certified Magento Developer can make design decisions on the code level, including how to parse data files, steps of import, data verification, logging (etc.)</p><p>The Magento <strong>Certified Developer Plus</strong> is skillful in the use of Magento Enterprise Edition and has delved into details of the structure of Magento that many have not often explored, but which can give someone an advantage when implementing a site using Magento.</p></div>-->
                    </li>
                                    <li>
                        <span>Thursday, April 26, 2012</span><br />
                        <a href="http://www.quadone.com/News_Details.html/id/22">Quad One enables Apollo Pharmacy take their ecommerce store online</a><br />
                        <!-- Quad One enables Apollo Pharmacy take their ecommerce store online-->
                    </li>
                                
                </ul>
                <div class="lpad"><a href="http://www.quadone.com/news.html" class="newsarchive">News Archive</a></div>
            </div>
            
            <div class="getqute"><div style="padding-right:15px;"><h2>Latest Projects</h2></div>
            
 <div class="flexslider">
  <ul class="slides">
    <li>
      <img src="/assets/quiz.png" />
    </li>
    <li>
      <img src="/assets/siltekk.png" />
    </li>
    
    <li>
      <img src="/assets/ruby_banner img.jpg" />
    </li>
    
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>

</div>


          
            <div class="download">
                <div><h2>Clients</h2></div>
                                    <div class="proj">
                    <div class="flexslider">
  <ul class="slides">
    <li>
      <img src="/assets/Virtusa.jpg" />
    </li>
    <li>
      <img src="/assets/visa.jpg" />
    </li>
    <li>
      <img src="/assets/yes bank.jpg" />
    </li>
    <li>
      <img src="/assets/Van Eck Global.gif" />
    </li>
    <li>
      <img src="/assets/infotech.jpg" />
    </li>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>
</div>
                </div>
            </div>
        </div>
    </td></tr>
    <tr><td class="footerbottom">
            <div id="footertabs"><h3>Services</h3>
                <ul>            
                    <li><a href="../services/software_dev">Software Development</a></li>
                    <li><a href="../services/web_dev">Web Development</a></li>                  
                    <li><a href="../services/mobile_app_dev">Mobile Application Development</a></li>              
                                    </ul>
            </div>
            <div id="footertabs"><h3>Frameworks</h3>
                <ul>
                    <li><a href="../technology_training/rubyonrails_technology">RubyOnRails</a></li>
                    <li><a href="../technology_training/php_mysql_training">Drupal</a></li>
                    <li><a href="../technology_training/php_mysql_training">Magento</a></li>
                    <li><a href="../technology_training/php_mysql_training">Joomla</a></li>
                    <li><a href="../technology_training/php_mysql_training">WordPress</a></li>
                    <li><a href="../technology_training/microsoft_technologies">DotNet </a></li>
                    <li><a href="../technology_training/php_mysql_training">PHP</a></li>
                    <li><a href="../technology_training/java_technologies">Java</a></li>
                </ul>
            </div>
            <div id="footertabs"><h3>Training</h3>
                <ul>
                    <li><a href="../technology_training/technology_training">Technology Training</a></li>
                    <li><a href="../campus_recruitment_training/campus_recruitment">Campus Recruitment Training</a></li>
                    <li><a href="../it_certification_training/it_certification_training">IT Certification Training</a></li>
                    <li class="last"><a href="../career_guidence/career_guidence">Career guidance</a></li>
                </ul>
            </div>
            <div id="footertabs"><h3>Projects</h3>
                <ul>
                    <li><a href="../live_projects/academic_projects">Academic Projects</a></li>
                    <li><a href="../live_projects/industry_oriented_mini_projects">Mini Projects</a></li> 
                    <li><a href="../live_projects/live_projects">Live Projects</a></li>
                    <li><a href="../live_projects/live_projects">IEEE Projects</a></li>
                </ul>
            </div>
        <div class="clrboth" style="width:100%">      
            <p class="fltleft"><img src="http://www.quadone.com/images/fotbot_left.gif" alt="" /></p>
            <p class="fltright"><img src="http://www.quadone.com/images/fotbot_right.gif" alt="" /></p>
        </div>
    </td></tr>
</tbody>
</table>

<script type="text/javascript">

 $('.flexslider').flexslider({
    animation: "slide"
  });


</script>

<script type="text/javascript">
    
    //<!--  Load the slider  --> 
    
        $('#slider').nivoSlider();
   
    
    </script>


  <!-- </div> -->