 <!-- <div class="Siltek-sheet clearfix"> -->

 <script type="text/javascript">
    
    //<!--  Load the slider  --> 
    
        $('#slider').nivoSlider();
   
    
    </script>

<div id="slider" class="nivoSlider">
            
                <!--  Images to slide through.  -->
                <img src="/assets/tech4.jpeg" data-thumb="/assets/tech4.jpeg" alt="" />
                <a href="http://dev7studios.com"><img src="/assets/tech3.jpeg" data-thumb="/assets/tech3.jpeg" alt="" title="This is an example of a caption" /></a>
                <img src="/assets/tech2.jpeg" data-thumb="/assets/tech2.jpeg" alt="" data-transition="slideInLeft" />
                <img src="/assets/tech1.jpeg" data-thumb="/assets/tech1.jpeg" alt="" title="#htmlcaption" />
            </div>
            
            <!--  Captions to show for images  -->
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
            </div>
<div class="contents-layout">
  <div class="Siltek-content-layout">



<!-- <div class="home"> -->
        <p></p><p style="text-align: justify;"><img width="350" height="30" alt=""  src="/assets/HW2.jpg"><br><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek Software Solutions Pvt. Ltd., is one of the
                                                 leading Software &amp; Web Development, IT Consulting and Training company with
                                                 extensive experience in designing and development of cutting edge software
                                                 solutions. We are a group of highly motivated IT professionals with a
                                                 capability to innovate and a strong desire to excel.</span></p>
                                                 
                                                <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">With our development office in INDIA and Offices in
                                                 USA, Siltek is a customer-centric company working to provide solutions that are
                                                 Reliable, On-time and Flexible. The solutions designed are purely based on
                                                 business and technical requirements of the project in hand. Software
                                                 Development Life Cycle is strictly followed to ensure the timely delivery of
                                                 the project without compromising on quality.</span>&nbsp;</p>
                                                 
                                                <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek provides a broad range of offshore
                                                 outsourcing services including Application and Systems Level Programming on
                                                 Leading Technologies.</span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek
                                                 has a niche in providing training to</span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Engineering
                                                 (B.Tech/M.Tech), MBA/MCA</span></b> <span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><b><span style="font-size: 13px;">students</span></b></span><b> </b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">and <b><span style="font-size: 13px;">Freshers</span></b> who are<b> </b>looking for a
                                                 breakthrough</span><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">. Thousands of Engineering students have successfully completed their
                                                 Mini and Major projects. The focus of the Training is to facilitate students
                                                 with Live Projects on latest technologies like</span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Mobile</span></b> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Applications Development (Android, iOS), Cloud
                                                 Computing</span></b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">, <b><span style="font-size: 13px;">MS .NET and Java etc.,</span></b></span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">under the strict guidance
                                                 of Industry Experts.</span></b></p><span style="-webkit-border-horizontal-spacing: 2px; -webkit-border-vertical-spacing: 2px;"><table class="Siltek-article" style="margin-left: auto; "><tbody><tr><td style="text-align: right; width: 215px; "><span style=" "><span style="line-height: 18.890625px;  "><span style=" font-family: Verdana; text-align: justify;  "><span style=" font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; "><span style="text-align: justify;  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; "><span style=" text-align: left; "><span style="line-height: 18.890625px;  "><span style=" font-family: Verdana; text-align: justify; font-size: 11px; "><span style=" font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; font-size: 13px; "><span style="text-align: justify;  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; "><span style=" font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;  "><a href="http://www.siltek.net/" style="color: #ffffff  ">more</a></span>...</span></span></span></span></span></span></span></span></span></span></td></tr></tbody></table></span>
                                                <p>
                                                </p><p>
                            </p>
    
</div>

</div>

<table class="news">
    <tbody>
    <tr><td style="height:10px;"></td></tr>
    <tr><td class="footertop">
        <div>
            <div class="fltleft"><img src="http://www.quadone.com/images/fottop_left.gif" alt="" /></div>
            <div class="fltright"><img src="http://www.quadone.com/images/fottop_right.gif" alt="" /></div>
            <div class="quadnews">
                <div><h2>News and Events</h2></div>
                <ul>
                                    <li>
                        <span>Saturday, November 23, 2013</span><br />
                        <a href="http://www.quadone.com/News_Details.html/id/25">Dr. Reddy's launches IBCR.in in association with Quad One</a><br />
                        <!-- Dr. Reddy&rsquo;s launched the Indian Breast Cancer Resource (IBCR.in) at the Indian Cancer Congress 2013 at New Delhi. IBCR has been developed along with Quad One and Navya Inc.-->
                    </li>
                                    <li>
                        <span>Thursday, December 20, 2012</span><br />
                        <a href="http://www.quadone.com/News_Details.html/id/23">Quad One Magento team gets 'Magento Certified Developer' and 'Magento Certified Developer Plus' certified!</a><br />
                        <!-- <div class="magentonews"><img src="http://www.quadone.com/images/magento_certification.jpg" style="float:right; padding:0px 0px 10px 20px;" alt="Certified Developer Plus, Certified Developer" />
<p>Quad One Magento team gets &lsquo;<a href="http://www.magentocommerce.com/certification/" target="_blank">Magento Certified Developer</a>&rsquo; and &lsquo;<a href="http://www.magentocommerce.com/certification/" target="_blank">Magento Certified Developer Plus</a>&rsquo; certified!</p><p><a href="http://www.magentocommerce.com/certification/" target="_blank">Magento Developer Certification</a> is a mid-advanced level certification geared toward professional developers that have real-world experience with Magento implementations.</p><p>A <strong>Magento Certified Developer</strong> can skillfully use all business processes in Magento, such as:</p><ul><li>Structure of catalog, indexes, promotions, price generation logic</li><li>Architecture of checkout, payment/shipment methods, sales/order processing</li><li>Advanced core knowledge &ndash; forms/grids full functionality, API, widgets, etc.</li></ul><p>A Certified Magento Developer can make design decisions on the code level, including how to parse data files, steps of import, data verification, logging (etc.)</p><p>The Magento <strong>Certified Developer Plus</strong> is skillful in the use of Magento Enterprise Edition and has delved into details of the structure of Magento that many have not often explored, but which can give someone an advantage when implementing a site using Magento.</p></div>-->
                    </li>
                                    <li>
                        <span>Thursday, April 26, 2012</span><br />
                        <a href="http://www.quadone.com/News_Details.html/id/22">Quad One enables Apollo Pharmacy take their ecommerce store online</a><br />
                        <!-- Quad One enables Apollo Pharmacy take their ecommerce store online-->
                    </li>
                                
                </ul>
                <div class="lpad"><a href="http://www.quadone.com/news.html" class="newsarchive">News Archive</a></div>
            </div>
            
            <div class="getqute"><div style="padding-right:15px;"><h2>Latest Projects</h2></div>
<div id="d1" style="display:none;">
    
    <div class="tbpad"><a href="http://portal.3dhive.net/" target="_blank"><img src="http://www.quadone.com/images/sites/3dhive.jpg" alt="DotNetNuke Development for 3Dhive" /></a></div>
    <div class="bpad5">Using 3DHive&rsquo;s suite of game creation tools, creating learning games</div>
 </div>
<div id="d2" style="display:none;">
    <div class="tbpad"><a href="http://www.apollopharmacy.in" target="_blank"><img src="http://www.quadone.com/images/sites/apollopharmacy.jpg" alt="Magento Development for Apollo Pharmacy" /></a></div>
    <div class="bpad5">India's largest and most trusted pharmacy chain. 1400 stores in neighbourhoods across India.<!-- Open 24X7 with free home delivery --></div>
 </div>
 <div id="d3" style="display:none;">  
    <div class="tbpad"><a href="http://www.narayanahospitals.com" target="_blank"><img src="http://www.quadone.com/images/sites/nh.jpg" alt="WordPress Development for Narayana Hospitals" /></a></div>
    <div class="bpad5">Affordable Quality Healthcare for the Masses Worldwide<!-- br />
    A dream to making quality healthcare accessible to the masses worldwide --></div>
  </div>
  <div id="d4" style="display:none;">  
    <div class="tbpad"><a href="http://www.apolloedoc.co.in/" target="_blank"><img src="http://www.quadone.com/images/sites/edoc.jpg" alt="DotNet Development for Apollo Edoc" /></a></div>
    <div class="bpad5">Online appointments and scheduling system covering all hospitals of the Apollo Group</div>
   </div>
</div>


<script language="JavaScript" type="text/javascript">

var divs = ['d1','d2','d3','d4'];

function hideDivs() {
for (var i=0; i<divs.length; i++)
document.getElementById(divs[i]).style.display = 'none';
}

function showDiv() {
hideDivs(); 

var randomDiv = divs[Math.floor(Math.random()*divs.length)];

var div = document.getElementById(randomDiv).style.display ='block';

//setTimeout(showDiv,5000); 
}
showDiv();

</script>
            
            <div class="download">
                <div><h2>Clients</h2></div>
                <div>&nbsp;</div>
                <div id="testimonials">
                    <blockquote>
                        <a href="http://www.quadone.com/clients.html"><img src="http://www.quadone.com/images/logos/apollo-pharmacy-logo.jpg" alt="Apollo Pharmacy" /></a>
                        <h1 class="slide-title">Apollo Pharmacy</h1>
                    </blockquote>
                    <!-- <blockquote>
                    <a href="http://www.quadone.com/clients.html"><img src="http://www.quadone.com/images/logos/drreddys-logo.jpg" alt="drreddy" /></a>
                        <h1 class="slide-title">Dr Reddy's</h1>
                    </blockquote>                         
                    <blockquote>
                    <a href="http://www.quadone.com/clients.html"><img src="http://www.quadone.com/images/logos/apollo-hospitals-logo.jpg" alt="3dhive" /></a>
                        <h1 class="slide-title">Apollo Hospitals</h1>
                    </blockquote>                  
                    <blockquote>
                    <a href="http://www.quadone.com/clients.html"><img src="http://www.quadone.com/images/logos/cfh.jpg" alt="Click for Help" /></a>
                        <h1 class="slide-title">Click for Help</h1>
                    </blockquote>  -->
                </div>
            </div>
        </div>
    </td></tr>
    <tr><td class="footerbottom">
            <div id="footertabs"><h3>Services</h3>
                <ul>            
                    <li><a href="http://www.quadone.com/it_custom_application_development.html">Application Development</a></li>
                    <li><a href="http://www.quadone.com/web_design_and_development.html">Web Design &amp; Development</a></li>                  
                    <li><a href="http://www.quadone.com/ecommerce_solutions.html">eCommerce Solutions</a></li>              
                    <li><a href="http://www.quadone.com/content_management_systems.html">Content Management Systems</a></li>                    
                    <li><a href="http://www.quadone.com/remoteserver_monitoring.html">RITM Services</a></li>
                </ul>
            </div>
            <div id="footertabs"><h3>Frameworks</h3>
                <ul>
                    <li><a href="http://www.quadone.com/share_point.html">SharePoint Development</a></li>
                    <li><a href="http://www.quadone.com/drupal.html">Drupal</a></li>
                    <li><a href="http://www.quadone.com/magento.html">Magento</a></li>
                    <li><a href="http://www.quadone.com/joomla.html">Joomla</a></li>
                    <li><a href="http://www.quadone.com/wordpress.html">WordPress</a></li>
                    <li><a href="http://www.quadone.com/dotnetnuke.html">DotNetNuke </a></li>
                    <li><a href="http://www.quadone.com/cake_php.html">CakePHP</a></li>
                </ul>
            </div>
            <div id="footertabs"><h3>Products</h3>
                <ul>
                    <li><a href="http://www.quadone.com/clinion_product.html">Clinion&trade;</a></li>
                    <li><a href="http://www.quadone.com/edoctor.html">eDoctor</a></li>
                    <li><a href="http://www.quadone.com/estimate_and_workbills.html">eGovernance System</a></li>
                    <li class="last"><a href="http://www.quadone.com/msales.html">mSales</a></li>
                </ul>
            </div>
            <div class="industries"><h3>Industries</h3>
                <ul>
                    <li><a href="http://www.quadone.com/pharmaceuticals.html">Pharmaceuticals</a></li>
                    <li><a href="http://www.quadone.com/healthcare.html">Healthcare</a></li> 
                    <li><a href="http://www.quadone.com/education.html">Education</a></li>
                    <li><a href="http://www.quadone.com/government.html">Government</a></li>
                </ul>
            </div>
        <div class="clrboth" style="width:100%">      
            <p class="fltleft"><img src="http://www.quadone.com/images/fotbot_left.gif" alt="" /></p>
            <p class="fltright"><img src="http://www.quadone.com/images/fotbot_right.gif" alt="" /></p>
        </div>
    </td></tr>
</tbody>
</table>






  <!-- </div> -->