
<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
</script>
<div class="Siltek-sheet clearfix">
<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="/assets/slide61e023944d6046f7be158e17852cf7960.png" />
    </li>
    <li>
      <img src="/assets/slide61e023944d6046f7be158e17852cf7961.png" />
    </li>
    <li>
      <img src="/assets/33.jpg" />
    </li>
    <li>
      <img src="/assets/ruby_banner img.jpg" />
    </li>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>


<div class="Siltek-content-layout-row">
    <div class="Siltek-layout-cell layout-item-0" style="width: 75%" >
        <p></p><p style="text-align: justify;"><img width="350" height="30" alt=""  src="/assets/HW2.jpg"><br><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek Software Solutions Pvt. Ltd., is one of the
                                                 leading Software &amp; Web Development, IT Consulting and Training company with
                                                 extensive experience in designing and development of cutting edge software
                                                 solutions. We are a group of highly motivated IT professionals with a
                                                 capability to innovate and a strong desire to excel.</span></p>
                                                 
                                                <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">With our development office in INDIA and Offices in
                                                 USA, Siltek is a customer-centric company working to provide solutions that are
                                                 Reliable, On-time and Flexible. The solutions designed are purely based on
                                                 business and technical requirements of the project in hand. Software
                                                 Development Life Cycle is strictly followed to ensure the timely delivery of
                                                 the project without compromising on quality.</span>&nbsp;</p>
                                                 
                                                <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek provides a broad range of offshore
                                                 outsourcing services including Application and Systems Level Programming on
                                                 Leading Technologies.</span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Siltek
                                                 has a niche in providing training to</span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Engineering
                                                 (B.Tech/M.Tech), MBA/MCA</span></b> <span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;"><b><span style="font-size: 13px;">students</span></b></span><b> </b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">and <b><span style="font-size: 13px;">Freshers</span></b> who are<b> </b>looking for a
                                                 breakthrough</span><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">. Thousands of Engineering students have successfully completed their
                                                 Mini and Major projects. The focus of the Training is to facilitate students
                                                 with Live Projects on latest technologies like</span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Mobile</span></b> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">Applications Development (Android, iOS), Cloud
                                                 Computing</span></b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">, <b><span style="font-size: 13px;">MS .NET and Java etc.,</span></b></span> <b><span style="line-height: 115%; font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;">under the strict guidance
                                                 of Industry Experts.</span></b></p><span style="-webkit-border-horizontal-spacing: 2px; -webkit-border-vertical-spacing: 2px;"><table class="Siltek-article" style="margin-left: auto; "><tbody><tr><td style="text-align: right; width: 215px; "><span style="color: rgb(46, 59, 62); "><span style="line-height: 18.890625px; background-color: rgb(255, 255, 255); "><span style="color: rgb(51, 51, 51); font-family: Verdana; text-align: justify; background-color: rgb(255, 255, 255); "><span style="color: rgb(54, 71, 73); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; "><span style="text-align: justify; background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; "><span style="color: rgb(54, 71, 73); text-align: left; "><span style="line-height: 18.890625px; background-color: rgb(255, 255, 255); "><span style="color: rgb(51, 51, 51); font-family: Verdana; text-align: justify; background-color: rgb(255, 255, 255); font-size: 11px; "><span style="color: rgb(54, 71, 73); font-family: Arial, 'Arial Unicode MS', Helvetica, sans-serif; text-align: left; font-size: 13px; "><span style="text-align: justify; background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; "><span style="background-color: rgb(255, 255, 255); color: rgb(97, 112, 111); font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif;  ">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="http://www.siltek.net/" style="color: rgb(82, 108, 111); background-color: rgb(255, 255, 255);  ">more</a></span>...</span></span></span></span></span></span></span></span></span></span></td></tr></tbody></table></span>
                                                <p>
                                                </p><p>
                            </p>
    </div>

</div>
</div>
